In [58]:
import pandas as pd
import numpy
import jdatetime

In [97]:
df = pd.DataFrame({'date':["13990101","14010206","14000201","13980202"]})

In [98]:
df

       date
0  13990101
1  14010206
2  14000201
3  13980202

In [99]:
for i in range (0, len(df['date'])):
    d = int(df.iloc[i,0][6:])
    m = int(df.iloc[i,0][4:6])
    y = int(df.iloc[i,0][0:4])
    df.iloc[i,0] = jdatetime.date(y,m,d).togregorian()

In [100]:
df

         date
0  2020-03-20
1  2022-04-26
2  2021-04-21
3  2019-04-22